#login-container {
    width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
}

/* Стилі форми */
#login-container .login-box {
    max-width: 100%;
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#login-container .login-box h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

#login-container .login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
}

#login-container .login-box button {
    width: 100%;
    padding: 10px;
    background-color: #3b82f6;
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

#login-container .login-box button:hover {
    background-color: #2563eb;
}
