.sidebar {
  min-width: 250px;
}

/* Використовується для UL зі списком кімнат */
.sidebar-list {
  height: 76vh;
  overflow-y: scroll;
}

/* Стилі кімнат */
.room-list li {
  padding: 8px;
  transition: background-color 0.2s;
}

.room-list li:hover {
  background-color: #e0e7ff;
}

.room-list li.active {
  background-color: #bfdbfe;
  font-weight: 500;
}
